<section class="who-we-are">
  <div class="content">
    <h2>Who We Are</h2>
    <p>
      Educate Girls works with the government, community and village-based
      volunteers and mentors to ensure every girl in the remotest parts of
      India is included, educated and empowered with choices and voices.
    </p>
  </div>

  <div class="image-wrapper">
    <img src="assets/images/ACF.jpg" alt="Educate Girls Team" />
  </div>
</section>

<section class="project-detail">
  <div class="detail-hero">
    <img [src]="project.image" alt="">
    <div class="overlay"></div>
    <h1>{{ project.title }}</h1>
  </div>

  <div class="detail-content container">
    <p>{{ project.description }}</p>

    <ul class="project-highlights">
      <li *ngFor="let item of project.highlights">{{ item }}</li>
    </ul>
  </div>
</section>
