

<section class="news-page">

<section class="who-we-are">
  <div class="content">
    <div class="animated-line"></div>

    <h2 class="title">Actualités</h2>

    <p class="description">
     
Suivez nos actions, événements et histoires d’impact pour l’inclusion
        numérique des femmes et jeunes filles en Afrique.
  </div>

  <div class="image-wrapper">
    <img src="assets/images/4.jpg" alt="Educate Girls Team" />
  </div>
</section>
 
  <!-- LISTE DES ACTUALITÉS -->
  <section class="news-list container">

    <!-- Décor -->
  

    <article
      class="news-card"
      *ngFor="let news of newsList"
      [routerLink]="['/actualites', news.slug]"
    >
      <div class="news-image">
        <img [src]="news.image" [alt]="news.title">
      </div>

      <div class="news-content">
        <span class="news-date">{{ news.date }}</span>
        <h3>{{ news.title }}</h3>
        <!--<p>{{ news.excerpt }}</p>-->
        <span class="read-more">Lire la suite →</span>
      </div>
    </article>

  </section>

</section>
