<section class="who-we-are">
  <div class="content">
    <div class="animated-line"></div>

    <h2 class="title">Soutenir notre action</h2>

    <p class="description">
     Chaque contribution accélère l’inclusion numérique des femmes et des jeunes filles.
    </p>
  </div>

  <div class="image-wrapper">
    <img src="assets/images/CFIJ2911.JPG" alt="Educate Girls Team" />
  </div>
</section>


<section class="wrap">
    
    <div class="cards">
      <div class="card">
        <h3>Don unique</h3>
        <p>Participez selon vos moyens. (Intégrer un lien de paiement : Momo, carte, virement)</p>
        <a class="btn" href="#">Faire un don</a>
      </div>

    </div>
  </section>
