<section class="news-detail">

  <!-- HERO FULL -->
  <div class="hero-full">
    <img [src]="news?.image" alt="">

    <div class="overlay"></div>

    <div class="hero-content container">
      <button class="back-btn" routerLink="/actualites">
        ← Retour
      </button>

      <span class="date">
        {{ news?.date | date:'longDate' }}
      </span>

      <h1>{{ news?.title }}</h1>

     
    </div>
  </div>

  <!-- CONTENU -->
  <div class="content container">
    <div class="article" [innerHTML]="news?.content"></div>
    <div class="article-share">
  <h3>Partager cet article</h3>

  <div class="share-buttons">

    <button class="share whatsapp" (click)="share('whatsapp')">
      <i class="fab fa-whatsapp"></i>
      WhatsApp
    </button>

    <button class="share facebook" (click)="share('facebook')">
      <i class="fab fa-facebook-f"></i>
      Facebook
    </button>

    <button class="share twitter" (click)="share('twitter')">
      <i class="fab fa-x-twitter"></i>
      Twitter
    </button>

  </div>
</div>
  </div>

  <!-- CITATION IMPACT -->
  <div class="quote container">
    <p>
      “Chaque fille connectée est une opportunité qui transforme une communauté entière.”
    </p>
  </div>

  <!-- AUTRES ACTUALITÉS -->
  <div class="related container">
    <h2>Autres actualités</h2>

    <div class="related-grid">
      <article
        class="related-card"
        *ngFor="let item of relatedNews"
        [routerLink]="['/actualites', item.slug]"
      >
        <div class="img-wrap">
          <img [src]="item.image">
        </div>

        <div class="card-body">
          <span>{{ item.date | date:'mediumDate' }}</span>
          <h3>{{ item.title }}</h3>
          <p>Lire l’article →</p>
        </div>
      </article>
    </div>
  </div>

</section>