
<section class="who-we-are">
  <div class="content">
    <div class="animated-line"></div>

    <h2 class="title">Qui sommes-nous ?</h2>

    <p class="description">
     AmazoOn du Web est une organisation non gouvernementale créée en Côte d'Ivoire en 2012 (N° 0420/MIS/DGAT/DAG/SDVA), dédiée à l'émancipation des femmes par l'alphabétisation numérique.
    </p>
  </div>

  <div class="image-wrapper">
    <img src="assets/images/ACF.jpg" alt="Educate Girls Team" />
  </div>
</section>

<section class="about-section">



  <!-- About Us / Description -->
  <div class="about-content container">
    <div class="about-text">
      <h2>À propos d'AmazoOn du Web</h2>
      <p>
        AmazoOn du Web regroupe des femmes et jeunes filles passionnées de technologie. 
        L’une des fondatrices, Eleonore KOFFI, Alumni du programme International Visitor Leadership Program (IVLP) depuis 2019, est la présidente actuelle.
      </p>
      <p>
        Aujourd'hui, plus de 100 bénévoles œuvrent pour l'organisation, la plupart ayant un emploi dans les TIC. Nos programmes «Each one - gets one» et «Meet-up» permettent à nos volontaires de développer leurs connaissances et compétences.
      </p>
    </div>
    <div class="about-image">
      <img src="assets/images/usa.jpg" alt="AmazoOn du Web">
    </div>
  </div>

  
  <!-- Vision -->
   

  <div class="about-vision container">
    <h2>Vision</h2>
    <p>
      Un monde où chaque femme, quelle que soit sa situation socio-économique, maîtrise les outils numériques, s'épanouit pleinement dans la société digitale et contribue activement à la construction d'un avenir égalitaire et inclusif.
    </p>
  </div>
<div class="background-pattern">
  <span class="circle"></span>
  <span class="triangle"></span>
  <span class="diamond"></span>
   <span class="arc"></span>
</div>
  <!-- Mission -->
  <div class="about-mission container">
    <h2>Mission</h2>
    <p>
      Travailler à l’alphabétisation numérique des femmes en Côte d’Ivoire
    </p>
  </div>

  <!-- Valeurs -->
  <div class="about-values container">
    <h2>Valeurs</h2>
    <div class="values-grid">
      <div class="value-card">
        <h3>Égalité</h3>
        <p>Nous croyons en l'égalité des genres et éliminons les disparités numériques.</p>
      </div>
      <div class="value-card">
        <h3>Inclusion</h3>
        <p>L’alphabétisation numérique est accessible à toutes les femmes, sans distinction.</p>
      </div>
      <div class="value-card">
        <h3>Empowerment</h3>
        <p>Nous fournissons les compétences numériques nécessaires pour s'autonomiser.</p>
      </div>
      <div class="value-card">
        <h3>Collaboration</h3>
        <p>Nous établissons des partenariats avec d'autres organisations et individus partageant nos valeurs.</p>
      </div>

    </div>
  </div>

  <!-- Activités et Acquis -->
  <div class="about-activities container">
    <div class="about-pattern">
  <span></span>
  <span></span>
</div>

    <h2>Activités et Acquis</h2>
    <ul>
      <li>04 Programmes de formation</li>
      <li>30 Villes et communes parcourues</li>
      <li>10 pays visités</li>
      <li>30 452 femmes et filles sensibilisées et formées</li>
      <li>25 collaborations et partenariats</li>
      <li>10 années d’existence</li>
    </ul>
  </div>

  <!-- Leadership -->
  <div class="about-leadership container">
    <h2>Leadership</h2>
    <div class="leader-card">
      <h3>Eleonore KOFFI</h3>
      <p>Fondatrice et Présidente – Alumni IVLP 2019</p>
      <p>Eleonore KOFFI guide AmazoOn du Web pour autonomiser les femmes et jeunes filles à travers l’alphabétisation numérique.</p>
    </div>
  </div>

</section>
