<header class="topbar">
  
  <a class="brand" routerLink="/">
    <img src="assets/images/amazoon_logo.png" alt="Logo AmazoOn du Web" width="100" height="50">
  </a>

  <!-- BOUTON MOBILE -->
  <button class="menu-toggle" (click)="isMenuOpen = !isMenuOpen">
    ☰
  </button>

  <nav class="nav" [class.open]="isMenuOpen">
    <a routerLink="/" 
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }"
       (click)="isMenuOpen = false">
       Accueil
    </a>

    <a routerLink="/a-propos" routerLinkActive="active" (click)="isMenuOpen = false">À propos</a>
    <a routerLink="/projets" routerLinkActive="active" (click)="isMenuOpen = false">Projets</a>
    <a routerLink="/actualites" routerLinkActive="active" (click)="isMenuOpen = false">Actualités</a>
    <a routerLink="/partenaires" routerLinkActive="active" (click)="isMenuOpen = false">Partenaires</a>
    <a routerLink="/contact" routerLinkActive="active" (click)="isMenuOpen = false">Contact</a>

  </nav>

  <div class="cta">
    <a class="btn outline" routerLink="/rejoindre" (click)="isMenuOpen = false">Rejoindre</a>
    <a class="btn" routerLink="/soutenir" (click)="isMenuOpen = false">Soutenir</a>
  </div>



</header>

<main class="content">
  <router-outlet />
</main>

<footer class="footer">

  <div class="grid">

    <!-- BRAND -->
    <div class="footer-brand">
      <div class="fbrand">
        <img src="assets/images/amazoon_logo.png" alt="Logo AmazoOn">
      </div>
      <p>
        Inclusion numérique des femmes et des jeunes filles
        en Afrique francophone.
      </p>
    </div>

    <!-- NAV -->
    <div>
      <h4>Navigation</h4>
      <ul>
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="/partenaires">Partenaires</a></li>
        <li><a routerLink="/projets">Projets</a></li>
        <li><a routerLink="/actualites">Actualités</a></li>
      </ul>
    </div>

    <!-- CONTACT -->
    <div>
      <h4>Contact</h4>
      <p>Abidjan, Côte d’Ivoire</p>
      <p>
        <a href="mailto:contact@amazoonduweb.org">
          contact@amazoonduweb.org
        </a>
      </p>
    </div>

    <!-- ACTION -->
    <div>
      <h4>Suivez Nous</h4>
<!-- Assurez-vous d'avoir "node_modules/@fortawesome/fontawesome-free/css/all.min.css" 
     dans votre angular.json -->


      <div class="socials">
        <a href="https://web.facebook.com/lesamazoon" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.tiktok.com/@amazoon.du.web" aria-label="Instagram"><i class="fab fa-tiktok"></i></a>
        <a href="https://www.linkedin.com/company/amazoon-du-web/" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://x.com/amazoonduweb" aria-label="Twitter"><i class="fab fa-x-twitter"></i></a>
      </div>

    </div>

  </div>

  <div class="sub">
    © {{ currentYear }} AmazoOn du Web — Tous droits réservés
  </div>

</footer>

