
<section class="who-we-are">
  <div class="content">
    <div class="animated-line"></div>

    <h2 class="title">Nos Actions</h2>

    <p class="description">
     AmazoOn du Web œuvre pour l’émancipation des femmes par l’alphabétisation numérique, avec des programmes dédiés à l’autonomisation et à l’inclusion digitale.
    </p>
  </div>

  <div class="image-wrapper">
    <img src="assets/images/TIC.jpg" alt="Educate Girls Team" />
  </div>
</section>

<section class="project">
<section class="actions-hero">
  <div class="hero-shapes"></div>

  <div class="hero-content container">
    <h1>Nos projets pour l’inclusion numérique</h1>
    <p>
      Depuis 2012, AmazoOn du Web déploie des projets innovants pour former,
      autonomiser et connecter les femmes et jeunes filles au numérique.
    </p>
  </div>
</section>
<section class="projects-list container">
  <h2 class="section-title">Nos projets</h2>

  <div class="projects-grid">
    <article
      class="project-card"
      *ngFor="let project of projects"
      [routerLink]="['/projets', project.slug]"
    >
      <div class="project-image">
        <img [src]="project.image" [alt]="project.title">
      </div>

      <div class="project-content">
        <h3>{{ project.title }}</h3>
        <p>{{ project.excerpt }}</p>
        <span class="read-more">Découvrir →</span>
      </div>
    </article>
  </div>
</section>


</section>